@tailwind base;
@tailwind components;
@tailwind utilities;


.overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(3, 3, 3, 0.795);
  }

  .overlay-custom:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    border-radius: 1.5rem;
    background-color: rgba(3, 3, 3, 0.795);
  }


  body, html {
    font-family: 'Arvo', serif;
  }

